/*
*= require_tree .
*= require_self
*= require foundation_and_overrides
*/
@import "foundation_and_overrides";
@import "font-awesome-sprockets";
@import "font-awesome";

@mixin button_style {
  display: block;
  width: 70%;
  margin: 0 auto 10px;
  background: #0af;
  border-radius: 3px;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
}

body {
  font-family: 'Century Gothic';
  font-size: 24px;
}

#container {
  width: 90%;
  margin: 20px auto;
  text-align: center;

  #level_disp {
    user-select: none;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        @include button_style;
      }
    }
  }
  #level_info_disp {
    display: none;
    table {
      border-collapse: collapse;
      tr {
        border: 1px solid #e9eae8;
      }
    }
  }
  #show_num_disp {
    display: none;
  }
  #answer_disp {
    display: none;
    #answerInput {
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 3px;
      text-align: center;
      font-size: 16px;
    }
    #answerBtn {
      @include button_style;
    }
  }
  #result_disp {
    display: none;
    font-family: monospace;
    #reset {
      @include button_style;
    }
  }
}
