/*
*= require_tree .
*= require_self
*= require foundation_and_overrides
*/
@import "foundation_and_overrides";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face{
  font-family: 'custom1';
  src: font-url('03-smartphone-ui.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@mixin button_style {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 70%;
  padding: 7px;
  background: #1cd929;
  border-radius: 3px;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
}

body {
  font-size: 24px;
  font-family: 'custom1';
}

header {
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  background: #333;

  #h-logo {
    letter-spacing: 1.4;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
  }
}

#container {
  width: 90%;
  margin: 20px auto;
  text-align: center;

  #level_disp {
    user-select: none;

    ul {
      width: 100%;
      padding: 0;
      margin: 0 auto;
      list-style-type: none;

      li {
        float: left;
        display: inline-block;
        box-sizing: border-box;
        letter-spacing: 1.5px;
        width: 48%;
        padding: 5px;
        background: #1cd929;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
        color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        cursor: pointer;
        user-select: none;
        margin-bottom: 8px;

        .level_info {
          display: block;
          border-top: 1px solid rgba(255, 255, 255, 0.5);
          font-size: 14px;
        }

        &:hover {
          opacity: .8;
        }

        &:nth-child(even) {
          margin-left: 4%;
        }
      }
    }
  }
  #level_info_disp {
    display: none;
    table {
      border-collapse: collapse;
      tr {
        border: 1px solid #e9eae8;
      }
    }
  }
  #show_num_disp {
    display: none;
    user-select: none;
    position: relative;
    width: 100%;

    #show_num_area {
      display: block;
      padding: 10px 20px;
      width: 70%;
      margin: 0 auto;
      background: #f1f1f1;
      border-radius: 5px;
      font-family: monospace;
      letter-spacing: 1.5px;
    }

    #count_down_disp {
      position: absolute;
      z-index: 1;
      background: #fff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border: 1px solid #333;
      border-radius: 5px;
      top: 0;
      left: 10px;
    }

    #toAnswerDisp {
      position: fixed;
      bottom: 90px;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: block;
      width: 70%;
      padding: 7px;
      background: #1cd929;
      border-radius: 3px;
      color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      user-select: none;
    }
  }
  #answer_disp {
    display: none;
    #answerInput {
      border: 1px solid #ccc;
      padding: 7px;
      line-height: 1.5;
      border-radius: 3px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
    #answerErrorBox {
      color: tomato;
      font-size: 14px;
      margin-bottom: 13px;
    }
    #answerBtn {
      @include button_style;
    }
  }
  #result_disp {
    display: none;
    font-family: monospace;
  }
  .reset {
    @include button_style;
  }
}
