/*
*= require_tree .
*= require_self
*= require foundation_and_overrides
*/
@import "foundation_and_overrides";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face{
  font-family: 'custom1';
  src: font-url('03-smartphone-ui.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@mixin button_style {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 70%;
  padding: 7px;
  background: #1cd929;
  border-radius: 3px;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
}

body {
  font-size: 24px;
  font-family: 'custom1';
}

header {
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  background: #333;

  #h-logo {
    letter-spacing: 1.4;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
  }
}

#container {
  width: 90%;
  margin: 20px auto;
  text-align: center;

  #level_disp {
    user-select: none;

    ul {
      width: 100%;
      padding: 0;
      margin: 0 auto;
      list-style-type: none;

      li {
        float: left;
        display: inline-block;
        box-sizing: border-box;
        letter-spacing: 1.5px;
        width: 48%;
        padding: 5px;
        background: #1cd929;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
        color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        cursor: pointer;
        user-select: none;
        margin-bottom: 8px;

        .level_info {
          display: block;
          border-top: 1px solid rgba(255, 255, 255, 0.5);
          font-size: 14px;
        }

        &:hover {
          opacity: .8;
        }

        &:nth-child(even) {
          margin-left: 4%;
        }
      }
    }
  }
  #level_info_disp {
    display: none;
    table {
      border-collapse: collapse;
      tr {
        border: 1px solid #e9eae8;
      }
    }
  }
  #show_num_disp {
    display: none;
    user-select: none;
    position: relative;
    width: 100%;

    #show_num_area {
      display: block;
      padding: 10px 20px;
      width: 60%;
      margin: 0 auto;
      background: #f1f1f1;
      border-radius: 5px;
      font-family: monospace;
      letter-spacing: 1.5px;
    }

    #count_down_disp {
      position: absolute;
      z-index: 1;
      background: #fff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border: 1px solid #333;
      border-radius: 5px;
      top: 0;
      left: 10px;
    }

    #toAnswerDisp {
      position: fixed;
      bottom: 90px;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: block;
      width: 70%;
      padding: 7px;
      background: #1cd929;
      border-radius: 3px;
      color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      user-select: none;
    }
  }
  #answer_disp {
    display: none;
    #answerInput {
      border: 1px solid #ccc;
      padding: 7px;
      line-height: 1.5;
      border-radius: 3px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
    #answerErrorBox {
      color: tomato;
      font-size: 14px;
      margin-bottom: 13px;
    }
    #answerBtn {
      @include button_style;
    }
  }
  #result_disp {
    display: none;
    font-family: monospace;
  }
  .reset {
    @include button_style;
  }
}

#sakura_disp {
  display: none;
  margin: 0 auto;
  z-index: 2;

  section .inner div {
    opacity: 0;
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    -webkit-animation-name: Drop;
    animation-name: Drop;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  #sakura .inner div {
    position: fixed;
    display: block;
    top: 80px;
    width: 10px;
    height: 15px;
    background: url("/assets/sakura.png") no-repeat;
  }
  #sakura .inner div.flake2,
  #sakura .inner div.flake4,
  #sakura .inner div.flake6,
  #sakura .inner div.flake8 {
    background-size: 5px 6px !important;
  }
  .flake1 {
    left: 20px;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
  }
  .flake2 {
    left: 65px;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .flake3 {
    left: 110px;
    -webkit-animation-duration: 2.9s;
    animation-duration: 2.9s;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .flake4 {
    left: 155px;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .flake5 {
    left: 200px;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .flake6 {
    left: 245px;
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  .flake7 {
    left: 290px;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  .flake8 {
    left: 340px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
  @-webkit-keyframes Drop {
    0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 0;
    }
    50% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
      opacity: 0.3;
    }
  }
  @keyframes Drop {
    0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 0;
    }
    50% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
      opacity: 0.3;
    }
  }
}
